* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  /* font-family: 'Mulish', sans-serif; */
}

.nowplaying {
  display: flex;
  max-width: 800px;
  flex-direction: row;
  overflow: scroll;
}

.nowplaying article {
  max-width: 185px;
}

.popular {
  display: flex;
  max-height: 800px;
  flex-direction: column;
  overflow: scroll;
}

.popular article {
  display: flex;
  flex-direction: row;
}
